package logger

import (
	"context"
	"fmt"
	"net/http"
	"time"

	"github.com/rs/zerolog/log"

	"{{ .ModuleName }}/pkg/router"
)

type ContextErrKey struct{}

func Middleware(next http.Handler) http.Handler {
	fn := func(w http.ResponseWriter, r *http.Request) {
		var err error

		ctx := context.WithValue(r.Context(), ContextErrKey{}, &err)

		start := time.Now()

		ww := router.WriterWrapper(w)
		next.ServeHTTP(ww, r.WithContext(ctx))

		duration := time.Since(start)

		event := log.Info()

		if err != nil {
			event = log.Error().Err(err)
		}

		event.
			Int("code", ww.Code()).
			Str("method", fmt.Sprintf("%s %s", r.Method, r.URL.RequestURI())).
			Dur("duration", duration).
			Send()
	}

	return http.HandlerFunc(fn)
}
