package usecase

import (
	"context"
	"fmt"

	"github.com/google/uuid"

	"{{ .ModuleName }}/internal/domain"
	"{{ .ModuleName }}/internal/dto"
)

func (u *UseCase) Close{{ .EntityName }}(ctx context.Context, input dto.Close{{ .EntityName }}Input) error {
	id, err := uuid.Parse(input.ID)
	if err != nil {
		return domain.ErrUUIDInvalid
	}

	err = u.postgres.Close{{ .EntityName }}(ctx, id)
	if err != nil {
		return fmt.Errorf("postgres.Close{{ .EntityName }}: %w", err)
	}

	return nil
}
