//go:build integration

package test

import (
	"testing"

	"github.com/google/uuid"
	"github.com/stretchr/testify/suite"
)

type Close{{ .EntityName }}Suite struct {
	BaseSuite
}

func TestClose{{ .EntityName }}(t *testing.T) {
	suite.Run(t, new(Close{{ .EntityName }}Suite))
}

func (s *Close{{ .EntityName }}Suite) TestClose_OK() {
	createdID := s.createEntity("Close Test", 50000)

	err := s.api.Close{{ .EntityName }}(ctx, createdID)
	s.NoError(err)

	// Проверяем, что closed_at заполнен.
	entity, err := s.api.Get{{ .EntityName }}(ctx, createdID)
	s.NoError(err)
	s.NotNil(entity.ClosedAt)
}

func (s *Close{{ .EntityName }}Suite) TestClose_NotFound_Error() {
	randomID := uuid.New()

	err := s.api.Close{{ .EntityName }}(ctx, randomID)
	s.Error(err)
}
