//go:build integration

package test

import (
	"testing"

	"github.com/google/uuid"
	"github.com/stretchr/testify/suite"
)

type Create{{ .EntityName }}Suite struct {
	BaseSuite
}

func TestCreate{{ .EntityName }}(t *testing.T) {
	suite.Run(t, new(Create{{ .EntityName }}Suite))
}

func (s *Create{{ .EntityName }}Suite) TestCreate_OK() {
	id, err := s.api.Create{{ .EntityName }}(ctx, "Test Item", 50000)
	s.NoError(err)
	s.NotEqual(uuid.Nil, id)
}

func (s *Create{{ .EntityName }}Suite) TestCreate_EmptyName_Error() {
	_, err := s.api.Create{{ .EntityName }}(ctx, "", 50000)
	s.Error(err)
}

func (s *Create{{ .EntityName }}Suite) TestCreate_ZeroAmount_Error() {
	_, err := s.api.Create{{ .EntityName }}(ctx, "Test Item", 0)
	s.Error(err)
}

func (s *Create{{ .EntityName }}Suite) TestCreate_NegativeAmount_Error() {
	_, err := s.api.Create{{ .EntityName }}(ctx, "Test Item", -100)
	s.Error(err)
}
