//go:build integration

package test

import (
	"fmt"
	"net/http"
	"testing"

	"github.com/google/uuid"
	"github.com/stretchr/testify/suite"
)

type Get{{ .EntityName }}Suite struct {
	BaseSuite
}

func TestGet{{ .EntityName }}(t *testing.T) {
	suite.Run(t, new(Get{{ .EntityName }}Suite))
}

func (s *Get{{ .EntityName }}Suite) TestGet_OK() {
	created := s.createEntity("Test Item", 50000)

	resp := s.doGet(fmt.Sprintf("/api/v1/{{ .ServiceName }}/%s", created.ID))
	s.Equal(http.StatusOK, resp.StatusCode)

	var entity entityResponse
	s.readJSON(resp, &entity)

	s.Equal(created.ID, entity.ID)
	s.Equal("Test Item", entity.Name)
	s.Equal(50000.0, entity.Amount)
	s.Equal(1, entity.Status) // Pending
}

func (s *Get{{ .EntityName }}Suite) TestGet_NotFound() {
	randomID := uuid.New()

	resp := s.doGet(fmt.Sprintf("/api/v1/{{ .ServiceName }}/%s", randomID))
	s.Equal(http.StatusNotFound, resp.StatusCode)
	resp.Body.Close()
}

func (s *Get{{ .EntityName }}Suite) TestGet_InvalidUUID() {
	resp := s.doGet("/api/v1/{{ .ServiceName }}/not-a-uuid")
	s.Equal(http.StatusBadRequest, resp.StatusCode)
	resp.Body.Close()
}
