//go:build integration

package test

import (
	"testing"

	"github.com/google/uuid"
	"github.com/stretchr/testify/suite"

	"{{ .ModuleName }}/pkg/{{ .ServiceName }}_client_gen"
)

type Get{{ .EntityName }}Suite struct {
	BaseSuite
}

func TestGet{{ .EntityName }}(t *testing.T) {
	suite.Run(t, new(Get{{ .EntityName }}Suite))
}

func (s *Get{{ .EntityName }}Suite) TestGet_OK() {
	createdID := s.createEntity("Test Item", 50000)

	entity, err := s.api.Get{{ .EntityName }}(ctx, createdID)
	s.NoError(err)

	s.Equal(createdID, entity.ID)
	s.Equal("Test Item", entity.Name)
	s.Equal(50000.0, entity.Amount)
	s.Equal(1, entity.Status) // Pending
}

func (s *Get{{ .EntityName }}Suite) TestGet_NotFound() {
	randomID := uuid.New()

	_, err := s.api.Get{{ .EntityName }}(ctx, randomID)
	s.ErrorIs(err, {{ .ServiceName }}_client_gen.ErrNotFound)
}
