package config

import (
	"fmt"

	"github.com/joho/godotenv"
	"github.com/kelseyhightower/envconfig"

{{ if .WithKafkaProducer }}	"{{ .ModuleName }}/internal/adapter/kafka_producer"
{{ end }}{{ if .WithKafkaConsumer }}	"{{ .ModuleName }}/internal/controller/kafka_consumer"
{{ end }}{{ if .WithKafkaProducer }}	"{{ .ModuleName }}/internal/controller/worker"
{{ end }}	"{{ .ModuleName }}/pkg/httpserver"
	"{{ .ModuleName }}/pkg/logger"
	"{{ .ModuleName }}/pkg/postgres"
{{- if .WithRedis }}
	"{{ .ModuleName }}/pkg/redis"
{{- end }}
)

type App struct {
	Name    string `envconfig:"APP_NAME"    required:"true"`
	Version string `envconfig:"APP_VERSION" required:"true"`
}

type Config struct {
	App      App
	HTTP     httpserver.Config
	Logger   logger.Config
	Postgres postgres.Config
{{- if .WithRedis }}
	Redis    redis.Config
{{- end }}
{{- if .WithKafkaProducer }}

	KafkaProducer kafka_producer.Config
	OutboxWorker  worker.OutboxKafkaConfig
{{- end }}
{{- if .WithKafkaConsumer }}

	KafkaConsumer kafka_consumer.Config
{{- end }}
}

func New() (Config, error) {
	var config Config

	err := godotenv.Load(".env")
	if err != nil {
		return config, fmt.Errorf("godotenv.Load: %w", err)
	}

	err = envconfig.Process("", &config)
	if err != nil {
		return config, fmt.Errorf("envconfig.Process: %w", err)
	}

	return config, nil
}
