package app

import (
	"context"
	"fmt"

	"github.com/rs/zerolog/log"

	"{{ .ModuleName }}/config"
{{- if .WithKafkaProducer }}
	"{{ .ModuleName }}/internal/adapter/kafka_producer"
{{- end }}
	"{{ .ModuleName }}/internal/adapter/postgres"
{{- if .WithRedis }}
	"{{ .ModuleName }}/internal/adapter/redis"
{{- end }}
	"{{ .ModuleName }}/internal/controller/http"
{{- if .WithKafkaConsumer }}
	"{{ .ModuleName }}/internal/controller/kafka_consumer"
{{- end }}
{{- if .WithKafkaProducer }}
	"{{ .ModuleName }}/internal/controller/worker"
{{- end }}
	"{{ .ModuleName }}/internal/usecase"
	"{{ .ModuleName }}/pkg/httpserver"
	pgpool "{{ .ModuleName }}/pkg/postgres"
{{- if .WithRedis }}
	redislib "{{ .ModuleName }}/pkg/redis"
{{- end }}
	"{{ .ModuleName }}/pkg/router"
	"{{ .ModuleName }}/pkg/transaction"
)

func Run(ctx context.Context, c config.Config) error {
	// Postgres
	pgPool, err := pgpool.New(ctx, c.Postgres)
	if err != nil {
		return fmt.Errorf("postgres.New: %w", err)
	}

	transaction.Init(pgPool)
{{ if .WithRedis }}
	// Redis
	redisClient, err := redislib.New(c.Redis)
	if err != nil {
		return fmt.Errorf("redislib.New: %w", err)
	}
{{ end }}
{{- if .WithKafkaProducer }}
	// Kafka producer
	kafkaProducer := kafka_producer.New(c.KafkaProducer)
{{ end }}
	// UseCase
	uc := usecase.New(
		postgres.New(),
{{- if .WithRedis }}
		redis.New(redisClient),
{{- end }}
{{- if .WithKafkaProducer }}
		kafkaProducer,
{{- end }}
	)
{{ if .WithKafkaConsumer }}
	// Kafka consumer
	kafkaConsumer := kafka_consumer.New(c.KafkaConsumer, uc)
{{ end }}
{{- if .WithKafkaProducer }}
	// Outbox worker: delivers events from the outbox table to Kafka
	outboxWorker := worker.NewOutboxKafka(uc, c.OutboxWorker)
{{ end }}
	// HTTP
	r := router.New()
	http.{{ .EntityName }}Router(r, uc)
	httpServer := httpserver.New(r, c.HTTP)

	log.Info().Msg("app: started")

	var runErr error

	select {
	case <-ctx.Done(): // SIGINT/SIGTERM via signal.NotifyContext in main
		log.Info().Msg("app: got signal to stop")
	case err = <-httpServer.Notify():
		runErr = fmt.Errorf("httpserver.Notify: %w", err)
		log.Error().Err(err).Msg("app: http server stopped unexpectedly")
	}

	httpServer.Close()
{{- if .WithKafkaConsumer }}
	kafkaConsumer.Close()
{{- end }}
{{- if .WithKafkaProducer }}
	outboxWorker.Close()
{{- end }}
{{- if .WithRedis }}
	redisClient.Close()
{{- end }}
{{- if .WithKafkaProducer }}
	kafkaProducer.Close()
{{- end }}
	pgPool.Close()

	log.Info().Msg("app: stopped")

	return runErr
}
