BEGIN;

CREATE TYPE {{ .ServiceNameSQL }}_status AS ENUM (
    'pending',
    'active',
    'closed',
    'rejected'
);

CREATE TABLE IF NOT EXISTS {{ .ServiceNameSQL }}
(
    id         UUID PRIMARY KEY,
    created_at TIMESTAMPTZ DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at TIMESTAMPTZ,
    closed_at  TIMESTAMPTZ,

    name       TEXT           NOT NULL,
    amount     NUMERIC(15, 2) NOT NULL,
    status     {{ .ServiceNameSQL }}_status NOT NULL DEFAULT 'pending'
);

COMMIT;
