package postgres

import (
	"context"
	"errors"
	"fmt"

	"github.com/google/uuid"
	"github.com/jackc/pgx/v5"
	"github.com/jackc/pgx/v5/pgtype"

	"{{ .ModuleName }}/internal/domain"
	"{{ .ModuleName }}/pkg/transaction"
)

func (p *Postgres) Update{{ .EntityName }}(ctx context.Context, e domain.{{ .EntityName }}) error {
	const sql = `UPDATE {{ .ServiceName }} SET name = $1, amount = $2, updated_at = NOW()
                     WHERE id = $3`

	args := []any{
		e.Name,
		e.Amount,
		e.ID,
	}

	txOrPool := transaction.TryExtractTX(ctx)

	_, err := txOrPool.Exec(ctx, sql, args...)
	if err != nil {
		if errors.Is(err, pgx.ErrNoRows) {
			return domain.ErrNotFound
		}

		return fmt.Errorf("txOrPool.Exec: %w", err)
	}

	return nil
}

func (p *Postgres) Update{{ .EntityName }}Status(ctx context.Context, id uuid.UUID, status domain.Status) error {
	const sql = `UPDATE {{ .ServiceName }} SET status = $1, updated_at = NOW()
                     WHERE id = $2`

	var pgStatus pgtype.Text

	if err := pgStatus.Scan(status.String()); err != nil {
		return fmt.Errorf("pgStatus.Scan: %w", err)
	}

	txOrPool := transaction.TryExtractTX(ctx)

	_, err := txOrPool.Exec(ctx, sql, pgStatus, id)
	if err != nil {
		if errors.Is(err, pgx.ErrNoRows) {
			return domain.ErrNotFound
		}

		return fmt.Errorf("txOrPool.Exec: %w", err)
	}

	return nil
}
