package redis

import (
	"time"

	"github.com/google/uuid"

	"{{ .ModuleName }}/pkg/redis"
)

const (
	cachePrefix = "{{ .ServiceName }}:"
	cacheTTL    = 5 * time.Minute
)

type Redis struct {
	redis *redis.Client
}

func New(client *redis.Client) *Redis {
	return &Redis{
		redis: client,
	}
}

func cacheKey(id uuid.UUID) string {
	return cachePrefix + id.String()
}
