package {{ .ServiceName }}_client_gen

import (
	"context"
	"fmt"
	"net/http"

	"github.com/google/uuid"

	http_client "{{ .ModuleName }}/gen/http/{{ .ServiceName }}_v1/client"
)

func (c *Client) Update{{ .EntityName }}Status(ctx context.Context, id uuid.UUID, status int, idempotencyKey string) error {
	input := http_client.Update{{ .EntityName }}StatusInput{
		Status:         status,
		IdempotencyKey: idempotencyKey,
	}

	output, err := c.client.Update{{ .EntityName }}StatusWithResponse(ctx, id, input)
	if err != nil {
		return fmt.Errorf("update {{ .ServiceName }} status: %w", err)
	}

	if output.StatusCode() != http.StatusNoContent {
		if output.JSON400 != nil {
			return fmt.Errorf("update {{ .ServiceName }} status: %s", output.JSON400.Error)
		}

		return fmt.Errorf("update {{ .ServiceName }} status: status %s, body: %s", output.Status(), output.Body)
	}

	return nil
}
