# App
APP_NAME={{ .ServiceName }}
APP_VERSION=v0.1.0

# Logger
LOGGER_PRETTY_CONSOLE=true
LOGGER_LEVEL=info

# Postgres
POSTGRES_USER=login
POSTGRES_PASSWORD=pass
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_DB_NAME=postgres
{{- if .WithRedis }}

# Redis
REDIS_ADDR=localhost:6379
{{- end }}
{{- if .WithKafkaProducer }}

# Kafka producer + outbox worker
KAFKA_PRODUCER_ADDR=localhost:9094
OUTBOX_WORKER_LIMIT=10
{{- end }}
{{- if .WithKafkaConsumer }}

# Kafka consumer
KAFKA_CONSUMER_ADDR=localhost:9094
KAFKA_CONSUMER_TOPIC={{ .ServiceName }}-events
KAFKA_CONSUMER_GROUP={{ .ServiceName }}-group
{{- end }}
