version: "2"

linters:
  default: all
  disable:
    - exhaustruct
    - forbidigo
    - funcorder
    - ireturn
    - mnd
    - nonamedreturns
    - revive
    - tagliatelle
    - varnamelen
    - depguard
    - wsl

  enable:
    - wsl_v5

  settings:
    wsl_v5:
      allow-first-in-block: true
      allow-whole-block: false
      branch-max-lines: 2
    gocritic:
      enabled-tags:
        - diagnostic
        - style
        - experimental
        - opinionated
      disabled-checks:
        - whyNoLint

  exclusions:
    generated: lax
    presets:
      - comments
      - std-error-handling

    paths:
      - ".*_test\\.go"
      - _test.go
      - gen/
      - test/integration/

    rules:
      - path: pkg/logger
        linters:
          - zerologlint

      - path: internal/app
        linters:
          - contextcheck

      - path: internal/controller/http/v1
        linters:
          - wrapcheck

      - linters:
          - err113
        text: "do not define dynamic errors"

      - linters:
          - lll
        source: "^//go:generate "

formatters:
  enable:
    - gci
    - gofmt
    - gofumpt
    - goimports

  settings:
    gofumpt:
      extra-rules: true
    gci:
      sections:
        - standard
        - default
        - blank
        - dot
        - localmodule
        - alias

  exclusions:
    generated: disable

    paths:
      - gen

issues:
  max-same-issues: 0
  fix: true

output:
  formats:
    text:
      path: stdout

  sort-order:
    - linter
    - file

run:
  timeout: 5m
  relative-path-mode: gomod
  allow-parallel-runners: true
  allow-serial-runners: true
