package dto

import "{{ .ModuleName }}/internal/domain"

type Update{{ .EntityName }}Input struct {
	ID     string   `json:"id"`
	Name   *string  `json:"name"`
	Amount *float64 `json:"amount"`
}

func (i Update{{ .EntityName }}Input) Validate() error {
	if i.Name == nil && i.Amount == nil {
		return domain.ErrAllFieldsForUpdateEmpty
	}

	return nil
}

type Update{{ .EntityName }}StatusInput struct {
	ID     string        `json:"id"`
	Status domain.Status `json:"status"`
}
